extends layout

block content
  body
    .container
      .row 
        h1 Last 10 posts:
      .row.mt-3
        .col-8
          if posts !== undefined
            each post in posts
              .card.mb-3(style='max-height: 25vh;')
                .row.g-0
                  .col-md-8
                    .card-body
                      h5.card-title #{post.title}
                      p.card-text #{post.mainText.slice(0, 100) + ' ...'}
                      p.card-text
                        small.text-body-secondary #{post.publishDate_formatted}
                      a.btn.btn-info(href=('/post/' + post._id)) Continue reading
                  .col-md-4
                    img.img-fluid.rounded-start(src=(post.img) alt=(post.img_title) style='object-fit: cover; height: 25vh; max-height: 25vh; width: 100%;')
            else
                p No blog posts
          else
              p No blog posts
        .col-4.sticky-top
          .p-4
            h4.fst-italic Archives
            ol.list-unstyled
              li
                a(href='#') March 2023
              li
                a(href='#') February 2023
              li
                a(href='#') January 2023
              li
                a(href='#') December 2022
              li
                a(href='#') November 2022
              li
                a(href='#') October 2022
              li
                a(href='#') September 2022
              li
                a(href='#') August 2022
              li
                a(href='#') July 2022
              li
                a(href='#') June 2022
              li
                a(href='#') May 2022
              li
                a(href='#') April 2022