doctype html
html
  head
    meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='')
  meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
  meta(name='generator' content='Hugo 0.111.3')
  title Read&amp;Talk
  link(rel='canonical' href='https://getbootstrap.com/docs/5.3/examples/navbars/')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp' crossorigin='anonymous')

  header
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      a.navbar-brand(href='#') Read&amp;Talk
      #navbarsExample07.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(aria-current='page' href='/') Home
          li.nav-item
            a.nav-link(href='/post') Posts
          if (user !== undefined)
            li.nav-item
              a.nav-link(href='/account/info') Account
          if (user !== undefined)
            if (user.admin == true)
              li.nav-item
                a.nav-link(href='/admin/info') Admin
          //form(role='search')
            input.form-control(type='search' placeholder='Search' aria-label='Search')
        if user === undefined
          .d-lg-flex.col-sm-1.justify-content-lg-end
            a.btn.btn-outline-info(href='/sign/sign-in') Sign in
        else
          .d-lg-flex.col-sm-1.justify-content-lg-end
            a.btn.btn-outline-info(href='/post/create-post') Create post
          .d-lg-flex.col-sm-1.justify-content-lg-end
            a.btn.btn-outline-info(href='/sign/sign-out') Sign out

  body
    block content

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js' integrity='sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js' integrity='sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i' crossorigin='anonymous')
